@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rock+Salt&display=swap');


body {
    background-color: #fcfbfb;
    font-size: 22px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

main section {
    text-align: center;
}

h2 {
    margin: 0;
}

h4 {
    background-color: black;
    color: #d9c2a3;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: rgba(20, 30, 13, 0.7);
    padding: 20px;
    color: #fcfbfb;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
    padding: 35px;
}

nav a:hover {
    background-color: #000;
    color: #d9c2a3;
}

.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px; 
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.hero-img {
    width: 80px;
}

#background {
    height: 725px;
    background-color: #396E94;
}

footer {
    background-color: #381D2A;
    color: #fcfbfb;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    text-decoration: none;
    color: #fcfbfb;
    transition: text-decoration 0.3s;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 1.2em;
}

footer .social img {
    padding-top: 15px;
}

.book, .join {
    background-color: #E7C24F;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    transition: background-color 0.3s;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: black;
    background-color: #A43312;
}

.msg {
    background-color: #fcfbfb; 
    padding: 35px;
}

.msg h2 {
    color: #A43312;
}

.msg p {
    color: #381D2A;
    line-height: 1.5em;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    padding-bottom: 15px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}

.button-box {
    text-align: center;
}

/*a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}*/

a:hover {
    color: #d9c2a3;
}


footer p {
    font-size: 1.2em;
}


footer p a:hover {
    text-decoration: underline;
}